<!DOCTYPE html>
<html>
  <head>
    <title>DashboardApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="sidebar">
      <img src="https://s3.amazonaws.com/website-assets.qualified.com/customer-experiences-production/sendoso/SendosoLogo_RGB_Orange1.png" />
    </div>
    <div id="main-content">
      <%= yield %>
    </div>
  </body>
</html>
